
@{
    ViewBag.Title = "CreateToDo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <!-- [ page content ] start -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Basic Inputs Validation start -->
                            <div class="card">
                                <div class="card-header">
                                    <div class="float-left">
                                        <h5>Create To Do</h5>
                                    </div>
                                    <div class="float-right">
                                        <a href="/Admin/ToDoList" class="btn btn-success waves-effect waves-light m-r-20">Go Back</a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <form method="post" action="/Admin/CreateToDo">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Name: </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="Name" id="Name" maxlength="50" required>
                                                <span class="messages"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Description: </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="Description" id="Description" required maxlength="100">
                                                <span class="messages"></span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">DeadLine: </label>
                                            <div class="col-sm-10">
                                                <input type="date" class="form-control" name="Deadline" id="Deadline">
                                                <span class="messages"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">User: </label>
                                            <div class="col-sm-10">
                                                <select name="UserID" class="form-control">
                                                    @foreach (var item in ViewData["User"] as List<ToDoExample.Models.aspnet_Users>)
                                                    {
                                                        <option value="@item.UserId">@item.UserName</option>
                                                    }
                                                </select>
                                            </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Status: </label>
                                                <div class="col-sm-10">
                                                    <div class="checkbox-fade fade-in-primary">
                                                        <label>
                                                            <input type="checkbox" value="1" name="Status">
                                                            <span class="cr">
                                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                            </span>
                                                            <span>Open</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn waves-effect waves-light btn-info btn-round btn-block" type="submit">Save</button>
                                            </div>
</form>
                                    <span id="hata">@ViewBag.Mesaj</span>
                                </div>
                            </div>
                            <!-- Basic Inputs Validation end -->
                        </div>
                    </div>
                    <!-- [ page content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>

